# Hugo output directory
.idea
/public/
/resources/
hugo_stats.json

# Node modules
/node_modules/
package-lock.json

# Tailwind build output (optional, if not committed)
/assets/css/output.css


# OS & Editor files
.DS_Store
*.log
*.swp
*.swo
*.bak
*.tmp
*.env
.env.*

# VS Code settings (optional)
.vscode/

