<section id="featured-videos" class="py-5">
    <div class="carousel">
        <h3 class="text-center">{{ .Site.Params.carousel.title | default "Featured Videos" }}</h3>
        <div class="carousel-inner">
            {{ range .Site.Data.carousel }}
            <iframe src="https://www.youtube.com/embed/{{ .youtube }}" class="embed-responsive-16by9" title={{ .title | safeHTML }} allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            {{ end }}
        </div>
        <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
        <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
    </div>
</section>
