/* Add your own custom styles here */
.rounded {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.banner-bg {
  background-image: url('/assets/images/Background-banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
